@model pruevas_de_a_5.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cod_producto" />
            <div class="form-group">
                <label asp-for="Nom_producto" class="control-label"></label>
                <input asp-for="Nom_producto" class="form-control" />
                <span asp-validation-for="Nom_producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Elaboracio" class="control-label"></label>
                <input asp-for="Fecha_Elaboracio" class="form-control" />
                <span asp-validation-for="Fecha_Elaboracio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Caducidad" class="control-label"></label>
                <input asp-for="Fecha_Caducidad" class="form-control" />
                <span asp-validation-for="Fecha_Caducidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodCategoria" class="control-label"></label>
                <input asp-for="CodCategoria" class="form-control" />
                <span asp-validation-for="CodCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodProveedor" class="control-label"></label>
                <input asp-for="CodProveedor" class="form-control" />
                <span asp-validation-for="CodProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
